[gcode_macro _CARTO_Z_ADJUST]
variable_temp_targets: [0, 100, 125, 150]
variable_recorded_temps: []
variable_recorded_probes: []
variable_current_index: 0
gcode:

[gcode_macro CARTOGRAPHER_AUTO_Z_ADJUST_CALC]
gcode:
    SET_GCODE_VARIABLE MACRO=_CARTO_Z_ADJUST VARIABLE=recorded_temps VALUE="[]"
    SET_GCODE_VARIABLE MACRO=_CARTO_Z_ADJUST VARIABLE=recorded_probes VALUE="[]"
    SET_GCODE_VARIABLE MACRO=_CARTO_Z_ADJUST VARIABLE=current_index VALUE=0
    
    _MOVE_TO_MESH_ZERO
    #CARTOGRAPHER_TOUCH_HOME
    UPDATE_DELAYED_GCODE ID=_PROBE_LOOP DURATION=1

[delayed_gcode _PROBE_LOOP]
gcode:
    {% set idx = printer["gcode_macro _CARTO_Z_ADJUST"].current_index | int %}
    {% set all_temps = printer["gcode_macro _CARTO_Z_ADJUST"].temp_targets %}
    {% set total_count = all_temps | length %}
    
    {% if idx < total_count %}
        {% set current_temp = all_temps[idx] | float %}
        M118 --- Start step [{idx + 1}/{total_count}] for temperature {current_temp}
        {% if idx != 0 %}
          SET_HEATER_TEMPERATURE HEATER=extruder TARGET={current_temp}
          TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={current_temp + 1}
          G4 P90000 
        {% endif %}
        CARTOGRAPHER_TOUCH_PROBE
        _PROBE_SAVE_DATA
    {% else %}
        M118 --- Results ---
        {% set final_temps = printer["gcode_macro _CARTO_Z_ADJUST"].recorded_temps %}
        {% set final_probes = printer["gcode_macro _CARTO_Z_ADJUST"].recorded_probes %}
        M118 Temperatures: {final_temps}
        M118 Offset Probes:  {final_probes}
        M104 S0
        _LINEAR_POLYFIT
    {% endif %}

[gcode_macro _PROBE_SAVE_DATA]
gcode:
    {% set current_temp = printer.extruder.temperature | float %}
    {% set last_z = printer['cartographer'].touch.last_z_result | float %}
    {% set idx = printer["gcode_macro _CARTO_Z_ADJUST"].current_index | int %}
    {% set res_temps = printer["gcode_macro _CARTO_Z_ADJUST"].recorded_temps %}
    {% set res_probes = printer["gcode_macro _CARTO_Z_ADJUST"].recorded_probes %}
    
    SET_GCODE_VARIABLE MACRO=_CARTO_Z_ADJUST VARIABLE=recorded_temps VALUE="{res_temps + [current_temp]}"
    SET_GCODE_VARIABLE MACRO=_CARTO_Z_ADJUST VARIABLE=recorded_probes VALUE="{res_probes + [last_z]}"
    G91
    G1 Z10 F600
    G90
    SET_GCODE_VARIABLE MACRO=_CARTO_Z_ADJUST VARIABLE=current_index VALUE={idx + 1}
    UPDATE_DELAYED_GCODE ID=_PROBE_LOOP DURATION=1

[gcode_macro _LINEAR_POLYFIT]
variable_slope: 0.0
variable_intercept: 0.0
gcode:
    {% set x_vals = printer["gcode_macro _CARTO_Z_ADJUST"].recorded_temps %}
    {% set y_vals = printer["gcode_macro _CARTO_Z_ADJUST"].recorded_probes %}
    {% set n = x_vals|length %}
    {% set ns = namespace(sum_x=0.0, sum_y=0.0, sum_xy=0.0, sum_x2=0.0) %}
    
    {% for i in range(n) %}
        {% set ns.sum_x = ns.sum_x + x_vals[i] %}
        {% set ns.sum_y = ns.sum_y + y_vals[i] %}
        {% set ns.sum_xy = ns.sum_xy + (x_vals[i] * y_vals[i]) %}
        {% set ns.sum_x2 = ns.sum_x2 + (x_vals[i] * x_vals[i]) %}
    {% endfor %}
    
    {% set denominator = (n * ns.sum_x2) - (ns.sum_x * ns.sum_x) %}
    {% if denominator != 0 %}
        {% set m = ((n * ns.sum_xy) - (ns.sum_x * ns.sum_y)) / denominator %}
        {% set b = (ns.sum_y - (m * ns.sum_x)) / n %}
        {action_respond_info("Polyfit Line: y = %0.6fx + %0.6f" % (m, b))}
        SET_GCODE_VARIABLE MACRO=_LINEAR_POLYFIT VARIABLE=slope VALUE={m}
        SET_GCODE_VARIABLE MACRO=_LINEAR_POLYFIT VARIABLE=intercept VALUE={b}
        PRINT_STEP_TABLE
    {% else %}
        {action_respond_info("Polyfit Error: Division by zero!")}
    {% endif %}

[gcode_macro PRINT_STEP_TABLE]
gcode:
    {% set slope = printer["gcode_macro _LINEAR_POLYFIT"].slope %}
    {% set intercept = printer["gcode_macro _LINEAR_POLYFIT"].intercept %}
    M118 { "| %-5s | %-12s" % ("Temp", "Z-Adjust") }
    M118 { "----------------------------------------" }
    
    {% for temp in range(190, 301, 5) %}
        {% set index = loop.index %}

        M118 { "| %-5s | %-12.4f " % (temp ~ "C", slope*(temp-150)) }
    {% endfor %}



[gcode_macro _MOVE_TO_MESH_ZERO]
gcode:
    {% if printer.configfile.settings.bed_mesh.zero_reference_position %}
        {% set zero_x = printer.configfile.settings.bed_mesh.zero_reference_position[0] %}
        {% set zero_y = printer.configfile.settings.bed_mesh.zero_reference_position[1] %}
       
        M118 Moving nozzle to bed mesh zero reference: X{zero_x} Y{zero_y}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            G28
        {% endif %}
        G90
        G1 X{zero_x} Y{zero_y} F6000
    {% else %}
        M118 No zero_reference_position defined in [bed_mesh]. Just home.
        G28
    {% endif %}




